.terraform.lock.hcl
.terraform/
main.tf-with-LB.tf
main.tf-with-LB.tf.bkp
main.tf-without-LB.tf.bkp
terraform.tfstate
terraform.tfstate.backup
misc.txt
configGenerator.sh.bkp
launchpad.yaml
t.sh
bin/t-commandline.bash
bin/t-commandline copy.bash